<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="NamespaceMapper Events" Url="html/Events_T_VDS_RDF_NamespaceMapper.htm"><HelpTOCNode Title="NamespaceAdded Event" Url="html/E_VDS_RDF_NamespaceMapper_NamespaceAdded.htm" /><HelpTOCNode Title="NamespaceModified Event" Url="html/E_VDS_RDF_NamespaceMapper_NamespaceModified.htm" /><HelpTOCNode Title="NamespaceRemoved Event" Url="html/E_VDS_RDF_NamespaceMapper_NamespaceRemoved.htm" /></HelpTOCNode>