<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="INamespaceMapper Events" Url="html/Events_T_VDS_RDF_INamespaceMapper.htm"><HelpTOCNode Title="NamespaceAdded Event" Url="html/E_VDS_RDF_INamespaceMapper_NamespaceAdded.htm" /><HelpTOCNode Title="NamespaceModified Event" Url="html/E_VDS_RDF_INamespaceMapper_NamespaceModified.htm" /><HelpTOCNode Title="NamespaceRemoved Event" Url="html/E_VDS_RDF_INamespaceMapper_NamespaceRemoved.htm" /></HelpTOCNode>