<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="NamespaceMapper Fields" Url="html/Fields_T_VDS_RDF_NamespaceMapper.htm"><HelpTOCNode Title="_prefixes Field" Url="html/F_VDS_RDF_NamespaceMapper__prefixes.htm" /><HelpTOCNode Title="_uris Field" Url="html/F_VDS_RDF_NamespaceMapper__uris.htm" /><HelpTOCNode Title="OWL Field" Url="html/F_VDS_RDF_NamespaceMapper_OWL.htm" /><HelpTOCNode Title="RDF Field" Url="html/F_VDS_RDF_NamespaceMapper_RDF.htm" /><HelpTOCNode Title="RDFS Field" Url="html/F_VDS_RDF_NamespaceMapper_RDFS.htm" /><HelpTOCNode Title="XMLSCHEMA Field" Url="html/F_VDS_RDF_NamespaceMapper_XMLSCHEMA.htm" /></HelpTOCNode>