<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="QNameOutputMapper Fields" Url="html/Fields_T_VDS_RDF_QNameOutputMapper.htm"><HelpTOCNode Title="_mapping Field" Url="html/F_VDS_RDF_QNameOutputMapper__mapping.htm" /><HelpTOCNode Title="_nextNamespaceID Field" Url="html/F_VDS_RDF_QNameOutputMapper__nextNamespaceID.htm" /></HelpTOCNode>