<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="ThreadSafeQNameOutputMapper Methods" Url="html/Methods_T_VDS_RDF_ThreadSafeQNameOutputMapper.htm"><HelpTOCNode Title="AddNamespace Method " Url="html/M_VDS_RDF_ThreadSafeQNameOutputMapper_AddNamespace.htm" /><HelpTOCNode Title="AddToCache Method " Url="html/M_VDS_RDF_ThreadSafeQNameOutputMapper_AddToCache.htm" /></HelpTOCNode>