<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="BlankNodeMapper Methods" Url="html/Methods_T_VDS_RDF_BlankNodeMapper.htm"><HelpTOCNode Title="CheckID Method " Url="html/M_VDS_RDF_BlankNodeMapper_CheckID.htm" /><HelpTOCNode Title="GetNextID Method " Url="html/M_VDS_RDF_BlankNodeMapper_GetNextID.htm" /></HelpTOCNode>