<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="INamespaceMapper Methods" Url="html/Methods_T_VDS_RDF_INamespaceMapper.htm"><HelpTOCNode Title="AddNamespace Method " Url="html/M_VDS_RDF_INamespaceMapper_AddNamespace.htm" /><HelpTOCNode Title="Clear Method " Url="html/M_VDS_RDF_INamespaceMapper_Clear.htm" /><HelpTOCNode Title="GetNamespaceUri Method " Url="html/M_VDS_RDF_INamespaceMapper_GetNamespaceUri.htm" /><HelpTOCNode Title="GetPrefix Method " Url="html/M_VDS_RDF_INamespaceMapper_GetPrefix.htm" /><HelpTOCNode Title="HasNamespace Method " Url="html/M_VDS_RDF_INamespaceMapper_HasNamespace.htm" /><HelpTOCNode Title="Import Method " Url="html/M_VDS_RDF_INamespaceMapper_Import.htm" /><HelpTOCNode Title="ReduceToQName Method " Url="html/M_VDS_RDF_INamespaceMapper_ReduceToQName.htm" /><HelpTOCNode Title="RemoveNamespace Method " Url="html/M_VDS_RDF_INamespaceMapper_RemoveNamespace.htm" /></HelpTOCNode>