<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="NestedNamespaceMapper Properties" Url="html/Properties_T_VDS_RDF_NestedNamespaceMapper.htm"><HelpTOCNode Title="NestingLevel Property " Url="html/P_VDS_RDF_NestedNamespaceMapper_NestingLevel.htm" /><HelpTOCNode Title="Prefixes Property " Url="html/P_VDS_RDF_NestedNamespaceMapper_Prefixes.htm" /></HelpTOCNode>