<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="BlankNodeOutputMapper Class" Url="html/T_VDS_RDF_BlankNodeOutputMapper.htm"><HelpTOCNode Title="BlankNodeOutputMapper Constructor " Url="html/M_VDS_RDF_BlankNodeOutputMapper__ctor.htm" /><HelpTOCNode Title="BlankNodeOutputMapper Methods" Url="html/Methods_T_VDS_RDF_BlankNodeOutputMapper.htm" HasChildren="true" /></HelpTOCNode>