<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="QNameOutputMapper Class" Url="html/T_VDS_RDF_QNameOutputMapper.htm"><HelpTOCNode Title="QNameOutputMapper Constructor " Url="html/Overload_VDS_RDF_QNameOutputMapper__ctor.htm" HasChildren="true" /><HelpTOCNode Title="QNameOutputMapper Properties" Url="html/Properties_T_VDS_RDF_QNameOutputMapper.htm" /><HelpTOCNode Title="QNameOutputMapper Methods" Url="html/Methods_T_VDS_RDF_QNameOutputMapper.htm" HasChildren="true" /><HelpTOCNode Title="QNameOutputMapper Events" Url="html/Events_T_VDS_RDF_QNameOutputMapper.htm" /><HelpTOCNode Title="QNameOutputMapper Fields" Url="html/Fields_T_VDS_RDF_QNameOutputMapper.htm" HasChildren="true" /></HelpTOCNode>