<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="BlankNodeMapper Class" Url="html/T_VDS_RDF_BlankNodeMapper.htm"><HelpTOCNode Title="BlankNodeMapper Constructor " Url="html/Overload_VDS_RDF_BlankNodeMapper__ctor.htm" HasChildren="true" /><HelpTOCNode Title="BlankNodeMapper Methods" Url="html/Methods_T_VDS_RDF_BlankNodeMapper.htm" HasChildren="true" /></HelpTOCNode>