<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="NamespaceMapper Class" Url="html/T_VDS_RDF_NamespaceMapper.htm"><HelpTOCNode Title="NamespaceMapper Constructor " Url="html/Overload_VDS_RDF_NamespaceMapper__ctor.htm" HasChildren="true" /><HelpTOCNode Title="NamespaceMapper Properties" Url="html/Properties_T_VDS_RDF_NamespaceMapper.htm" HasChildren="true" /><HelpTOCNode Title="NamespaceMapper Methods" Url="html/Methods_T_VDS_RDF_NamespaceMapper.htm" HasChildren="true" /><HelpTOCNode Title="NamespaceMapper Events" Url="html/Events_T_VDS_RDF_NamespaceMapper.htm" HasChildren="true" /><HelpTOCNode Title="NamespaceMapper Fields" Url="html/Fields_T_VDS_RDF_NamespaceMapper.htm" HasChildren="true" /></HelpTOCNode>